<div class="js-audio-player audio-player">
  <audio class="js-audio" preload="metadata">
    <source data-episode={{ data-episode }} src="{{ include.mp3_url }}" type="audio/mp3" />
  </audio>
  <div class="js-progress-slider-background progress-slider-background">
    <div class="js-progress-slider progress-slider"></div>
  </div>
  <span class="js-copy-msg copy-msg">
    Copied URL with current time.
  </span>
  <div class="controls">
    <div class="left-controls">
      <div class="js-spinner audio-player-spinner">
        <div class="icon-spinner"></div>
      </div>
      <button class="js-play" style="display:none">
        <i class="audio-player-icon icon-playarrow"></i>
      </button>
      <button class="js-pause" style="display:none">
        <i class="audio-player-icon icon-pause"></i>
      </button>
      <span class="js-playback-time playback-time">
        0:00 / 0:00
      </span>
      <button title="Click to copy current time"
              class="js-copy-time hidden-mobile-426px hidden-mobile-765px-576px" >
        <i class="audio-player-icon icon-filecopy"></i>
      </button>
    </div>
    <div class="right-controls">
      <button class="js-playback-speed hidden-mobile-426px hidden-mobile-765px-576px">
        <i class="audio-player-icon icon-fastforward"></i>
        <span class="speed-text"> &times;1.00</span>
      </button>
      <div class="volume-group">
        <button class="js-volume">
          <i class="audio-player-icon icon-volumeup"></i>
        </button>
        <div class="js-volume-slider-background volume-slider-background">
          <div class="js-volume-slider volume-slider"></div>
        </div>
      </div>
    </div>
  </div>
</div>
