{% capture first_tag %}{{ item.tags | first }}{% endcapture %}
{% if include.category == "podcast" %}
  {% assign category_label = "episode" %}
{% elsif include.category == "interviews" %}
  {% assign category_label = "interview" %}
{% endif %}
<li class="list-group-item">
  <p class="text-muted mb-0">
    <small>
      {{ category_label | upcase }} {{ item.slug | split: "-" | first | prepend: "000" | slice: -3, 3 }}
    </small>
    {% include item-tag.html tag=first_tag %}
  </p>
  <a href="{{ item.url }}">
    <h5 class="h6 mb-0 mt-2"><strong>{{ item.title }}</strong></h5>
  </a>
  {% if item.guest %}
    <p class="mb-0 text-muted small">
      with {{ item.guest }}
      {% if item.guest_2 %}
        &amp; {{ item.guest_2 }}
      {% endif %}
    </p>
  {% endif %}
</li>
