{% for item in site.categories[include.category] %}
  {% if include.filter_by_tag %}
    {% if item.tags contains include.filter_by_tag %}
      {% include item.html %}
    {% endif %}
  {% else %}
    {% include item.html %}
  {% endif %}
{% else %}
  <li class="list-group-item">
    <p>Hey! There's no {{ include.category }} yet.</p>
    {% if include.category == "podcast" %}
      <a href="{{ site.links.become_guest }}" class="btn btn-sm btn-primary">
        Become a guest &rarr;
      </a>
    {% else %}
      <a href="{{ site.links.get_interviewed }}" class="btn btn-sm btn-primary">
        Get interviewed &rarr;
      </a>
    {% endif %}
  </li>
{% endfor %}

{% if page.url contains "/podcast/" %}
<hr>
<p>
  <i>
    Are you running a site in production? I'd love to hear your story,
    <a href="{{ site.links.become_guest }}"><strong>become a guest</strong>.</a>
  </i>
</p>
{% elsif page.url contains "/interviews/" %}
<hr>
<p>
  <i>
    Are you running a site in production? I'd love to hear your story,
    <a href="{{ site.links.get_interviewed }}"> <strong>get interviewed</strong>.</a>
  </i>
</p>
{% endif %}
