<h2>Support the Show</h2>

<p>This episode does not have a sponsor and this podcast is a labor of love. If
  you want to support the show, the best way to do it is to purchase one of my
  courses or suggest one to a friend.</p>
<ul>
  <li>
    <a href="https://diveintodocker.com/?utm_source=nj&utm_medium=rip&utm_campaign={{ include.source }}">Dive into Docker</a> is a video course that takes you from not knowing what Docker is
to being able to confidently use Docker and Docker Compose for your own apps.
Long gone are the days of <i>"but it works on my machine!"</i>. A bunch of follow
along labs are included.
  </li>
</ul>
<ul>
  <li>
    <a href="#">Build a SAAS App with Flask</a> is a video course where we build a real
world SAAS app that accepts payments, has a custom admin, includes high test
coverage and goes over how to implement and apply 50+ common web app features.
There's over 20+ hours of video.
  </li>
</ul>
