.item {
  h1, h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  h1 {
    margin-bottom: 5px;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  p:first {
    margin-top: 30px;
  }

  img {
    @include img-fluid;
  }

  ul:not(.flex-wrap) {
    padding-left: 25px;
    list-style-type: circle;
  }

  // All links without any class (ie. not the badges or buttons, etc.).
  a:not([class]) {
    border-bottom: 1px solid $primary;

    &:hover, &:visited, &:active {
      text-decoration: none;
    }
  }

  &--subscribe li {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
  }

  &--subscribe .list-inline-item:not(:last-child) {
    margin-right: 0.45rem;
  }

  .list-inline.pl-0 .list-inline-item:not(:last-child) {
    margin-right: 0.3rem;
  }
}

.audio-seek {
  border-bottom: 1px solid $primary;

  &:hover, &:visited, &:active {
    text-decoration: none;
  }
}
