---
layout: "default"
---

<div class="container">
  <div class="row">
    <div class="col-sm-4 order-sm-1 order-2">
      <ul id="podcasts_or_interviews" class="list-group overflow-auto">
        {% capture category %}{{ page.category | default: page.title | downcase }}{% endcapture %}
        {% include items.html category=category %}
      </ul>
    </div>
    <div class="col-sm-8 mb-4 mt-sm-0 order-1">
      <div class="card">
        <div id="podcast_or_interview" class="card-body item">
          {% capture mp3_url %}{{ site.mp3_url_path }}{{ page.slug | split: "-" | first }}.mp3{% endcapture %}

          {% if page.category == "podcast" %}
            {% include subscribe.html %}
            {% capture data-episode %}{{ page.slug | split: "-" | first }}{% endcapture %}
            {% include audio-player.html mp3_url=mp3_url data-episode=data-episode %}
          {% endif %}
          <h1 class="h2">{{ post.title | default: page.title }}</h1>
          <ul class="list-inline pl-0">
            {% for tag in page.tags %}
              <li class="list-inline-item">
                {% include item-tag.html bs_class="light" tag=tag %}
              </li>
            {% endfor %}
          </ul>

          {% if page.date %}
            {% if page.guest %}
              <div class="clearfix avatar--item mb-4">
                {% capture avatar %}{{ page.guest_avatar | default: "unknown.jpg" }}{% endcapture %}
                {% image avatars/{{avatar}} width:60 height:60 class:"avatar" %}
                <h5 class="mb-1">{{ page.guest }}</h5>
                <h6 class="text-secondary mt-0">
                  {% if page.guest_website %}
                    <a href="{{ page.guest_website_href | default: page.guest_website }}">
                      {{ page.guest_website }}
                    </a>
                  {% endif %}
                </h6>
              </div>
            {% endif %}
          {% endif %}

          {{ content | audio_seek }}

          {% if page.date %}
            {% if page.category == "podcast" %}
              {% unless page.has_sponsor %}
                {% include support-the-show.html source=page.url %}
              {% endunless %}

              {% include questions.html %}

              {% include transcript.html %}
            {% endif %}

            {% include github-interactions.html %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
